<div class="jumbotron center">
	<h1>Application Home Page</h1>
	 <%= link_to "Log On", "#", class: "btn btn-default" %> 
	 <%= link_to "Sign Up", "http://twitter.com/hughsjyoon", class: "btn btn-primary" %>
</div>